/* global elements */
:root {
    --primary: rgb(20, 20, 30);
    --secondary: rgb(33, 33, 43);
    --tertiary: rgb(53, 53, 63);
    font-family: monospace, monospace;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary);
    background-size: cover;
    color: white;
}

a {
    color: inherit;
    text-decoration: none;
}

/* global FA icon styling */
[class*="fa-"] {
    color: white;
    transition: 0.1s;
}

/* portfolio page header */
.page-header {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 7.5rem;
    font-size: 1.5rem;
}

.page-header > * {
    margin: 0 auto;
}

/* personal links */
.header-links {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.link-tooltip {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    margin: auto 1.5rem;
}

.link-tooltip .link-tooltiptext {
    visibility: hidden;
    z-index: 1;
    position: absolute;
    bottom: -125%;
    padding: 0.15rem 0.45rem;
    border-radius: 0.25rem;
    background-color: var(--tertiary);
    color: #fff;
    font-size: 1rem;
    text-align: center;
    overflow-wrap: normal;
    opacity: 90%;
}

.link-tooltip:hover .link-tooltiptext {
    visibility: visible;
  }

.header-links a:hover i {
    color: aqua;
}

/* contact me button */
.contact {
    display: flex;
    align-items: center;
    border: 0.15rem solid rgba(255, 255, 255, 0.5);
    opacity: 85%;
    background-color: inherit;
    padding: 0 0.75rem;
    border-radius: 1.5rem;
    transition: 0.2s;
}

.contact:hover {
    opacity: 100%;
    border-color: white;
    background-color: var(--primary);
}

.contact:active {
    transform: translate(-0.1rem, 0.1rem);
}

/* projects container */
.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
}

.projects > h2 {
    font-size: 2rem;
}

/* project cards */
.card-list {
    display: flex;
    padding: 3rem;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
}

.card {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 250px;
    min-width: 200px;
    /* height: 300px; */
    min-height: 250px;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    background-color: var(--secondary);
    box-shadow: -1rem 0 3rem #000;
    transition: 0.2s ease-in-out;
}

.card:not(:first-child) {
    margin-left: -3rem;
}

.card:hover {
    transform: translateY(-1rem);
}

.card:hover~.card {
    transform: translateX(3rem);
}

.card > * {
    opacity: 80%;
    transition: 0.2s ease-in;
}

.card:hover > * {
    opacity: 100%;
}

/* card child elements */
/* card header */
.card-header * {
    margin: 0;
}

.card-header > *:not(:last-child)  {
    margin-bottom: 0.5em;
}

.card-header a {
    transition: 0.2s;
}

.card-header a:hover {
    color:aqua;
}

.card-header > p {
    color: #888;
}

/* card body */
.card-body {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
}

.card-body img {
    width: auto;
    max-width: 105%;
    height: auto;
    height: auto;
    max-height: 150px;
    margin-left: -0.25rem;
    border-radius: 0.5rem;
    opacity: 75%;
    transition: 0.1s;
}

.card-body img:hover {
    opacity: 100%;
}

/* card footer */
.card-footer {
    margin-left: 0.25rem;
}

.card-link {
    display: flex;
    align-items: center;
}

.card-link:not(:last-child) {
    margin-bottom: 0.5rem;
}

.card-link p {
    margin: 0;
}

.card-link:hover p {
    text-decoration: underline;
}

.card-keywords {
    display: flex;
    margin: 1rem 0 0 -0.5rem;
    opacity: 75%;
}

.card-keywords > p {
    margin: 0;
    color: #FFF;
}

.card-keywords > p:not(:last-child) {
    margin-right: 0.5rem;
}

.card-keywords > p {
    padding: 0.2rem 0.4rem;
    border: 0.1rem solid #666;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.05);
}
