/* global elements */
:root {
    font-family: monospace, monospace;
    --primary: rgb(20, 20, 26);
    --secondary: rgb(27, 27, 41);
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--primary);
    background: linear-gradient(180deg, var(--secondary) 10%, var(--primary) 40%, var(--primary) 70%, var(--secondary) 90%)  no-repeat center center fixed;
    background-size: cover;
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

/* global FA icon styling */
.fa-lg {
    color: white;
}

/* projects container */
.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
}

.projects > h2 {
    font-size: 2.5rem;
}

/* project cards */
.card-list {
    display: flex;
}

.card {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 300px;
    min-height: 250px;
    width: 250px;
    min-width: 200px;
    padding: 1.5rem 2rem;
    background-color: var(--primary);
    border-radius: 1rem;
    box-shadow: -1rem 0 3rem #000;
    transition: 0.2s ease-in-out;
}

.card:not(:first-child) {
    margin-left: -3rem;
}

.card:hover {
    transform: translateY(-1rem);
}

.card:hover~.card {
    transform: translateX(3rem);
}

.card > * {
    opacity: 80%;
    transition: 0.2s ease-in;
}

.card:hover > * {
    opacity: 100%;
}

/* card child elements */
/* card header */
.card-header * {
    margin: 0;
}

.card-header > *:not(:last-child)  {
    margin-bottom: 0.5em;
}

.card-header a:hover {
    text-decoration: underline;
}

.card-header > p {
    color: #888;
}

/* card body */
.card-body {
    padding: 1rem 0;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-body img {
    width: auto;
    max-width: 105%;
    height: auto;
    max-height: 150px;
    border-radius: 0.5rem;
    opacity: 75%;
    margin-left: -0.25rem;
    height: auto;
    transition: 0.1s;
}

.card-body img:hover {
    opacity: 100%;
}

/* card footer */
.card-footer {
    margin-left: 0.25rem;
}

.card-link {
    display: flex;
    align-items: center;
}

.card-link:not(:last-child) {
    margin-bottom: 0.5rem;
}

.card-link p {
    margin: 0;
}

.card-link:hover p {
    text-decoration: underline;
}

.card-keywords {
    display: flex;
    margin: 1rem 0 0 -0.5rem;
    opacity: 75%;
}

.card-keywords > p {
    color: #FFF;
    margin: 0;
}

.card-keywords > p:not(:last-child) {
    margin-right: 0.5rem;
}

.card-keywords > p {
    padding: 0.2rem 0.4rem;
    border: 0.1rem solid #666;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.05);
}